<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870183269199-m5otohc75e0qsb02t1jp4g8h6tlmc7io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870183269199-m5otohc75e0qsb02t1jp4g8h6tlmc7io</string>
	<key>API_KEY</key>
	<string>AIzaSyCoqCXCtnOnxqy1fRY6qtQf-4Fy5CXasFM</string>
	<key>GCM_SENDER_ID</key>
	<string>870183269199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>documents.UniBuddy</string>
	<key>PROJECT_ID</key>
	<string>athenahacks-c1336</string>
	<key>STORAGE_BUCKET</key>
	<string>athenahacks-c1336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870183269199:ios:f700fe5c48fc8265</string>
	<key>DATABASE_URL</key>
	<string>https://athenahacks-c1336.firebaseio.com</string>
</dict>
</plist>